body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.ains, .zwei, .drei, .vier {
    min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.bild {
	width: 30%;
}
.buttons {
    background-color: SaddleBrown;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: Tan;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid Black;
	color: Black;
	text-decoration: none;
	margin: 0 100px 0 100px;
	text-align: center;
	height: 20px;
}

.text{
	border: 1px solid green;
	padding: 20px;
	padding: 1px 4px 1px 4px;
	font-size: 20px;
	text-align: center;
}